---
const posts = await Astro.glob('./post/*.md');
posts.sort((a, b) => Date.parse(a.frontmatter.published_at) - Date.parse(b.frontmatter.published_at));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Homepage</title>
  </head>
  <body>
    <a class="home" href="/">
      zephyrb.lu
    </a>
    <main class="posts">
      {posts.map(post => (
        <div class="post">
          <h2>
            <a class="post__title post__link" href={post.url}>
              {post.frontmatter.title}
            </a>
          </h2>
          <span class="post__description">
            {post.frontmatter.description}
          </span>
          <span class="post__status">
            {post.frontmatter.status}
          </span>
        </div>
      ))}
    </main>
  </body>
  <style>
    html {
      font-family: 'Inter', sans-serif;
      background-color: #F6F6F6;
      display: flex;
      justify-content: center;
    }

    body {
      width: 60%;
      margin: 0;
      margin-top: 20px;
    }

    h2 {
      margin: 0;
    }

    .home {
      font-size: 18px;
      color: black;
    }

    .posts {
      margin-top: 40px;
    }

    .post {
      margin-bottom: 40px;
    }

    .post__title {
      display: block;
      margin-bottom: 10px;
    }

    .post__link {
      text-decoration: none;
      color: black;
    }

    .post__link:hover {
      text-decoration: underline;
    }

    .post__description {
      display: block;
      color: slategrey;
      margin-bottom: 10px;
    }

    .post__status {

    }
  </style>
</html>
